.container{
    background: #eee;
    width: 700px;
    margin: 35px 0px;

    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: 175px 175px 175px;
    grid-gap: 15px 15px;
}

.item1{
    background: orangered;
}

.item2{
    background: yellowgreen;
}

.item3{
    background: slateblue;
}

.item4{
    background: hotpink;
}

.item5{
    background: royalblue;
}

.item6{
    background: goldenrod;
}