*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.container{
    height: 100VH;
    width: 100vw;
    background: lightblue;
    display: flex;
    align-items: center;
    justify-content: center;

}

.calculator{
    background: grey;
    border-radius: 10px;
    padding: 20px;
}

.calculator form input{
    border: 0;
    outline: 0;
    background: transparent;
    border-radius: 10px;
    width: 60px;
    height: 60px;
    margin: 10px;
    color: aliceblue;
    font-size: 20px;
    cursor: pointer;
}

form .display{
    display: flex;
    justify-content: flex-end;
    margin: 20px 0;
}

form .display input{
    text-align: right;
    flex: 1;
    font-size: 45px;
}

form input.equal{
    width: 145px;

}