.Welcome_msg{
  font-size: 2em;
  background-color: green;
  color: white;
  padding: 10px;
  border-radius: 5px;
  margin : 0;


}

.Login_prompt{
  font-size: 2em;
  background-color: red;
  color: white;
  padding: 10px;
  border-radius: 5px;
  margin : 0;
}